<div class="center-it">
    <form [formGroup]="benefitForm" class="form-group container-fluid my-container">
        <div class="row">
            <h2>Benefit Information Per Employee</h2>
            <div class="col-sm-12 form-inline">
                <label>
                    Total Benefit Cost Per Year:
                    <input placeholder="Enter Benefit Cost" class="form-control" type="text" formControlName="cost">
                </label>
            </div>
            <div class="col-sm-12 form-inline control-top">
                <label>
                    Dependent Cost Per Year:
                    <input placeholder="Enter Dependent Cost" class="form-control" type="text" formControlName="dependentCost">
                </label>
            </div>
            <div class="col-sm-12 form-inline control-top">
                <label>
                    Discount for names that begin with A (Employee or Dependent):
                    <input placeholder="Enter Discount" class="form-control" type="text" formControlName="discount">
                </label>
            </div>
            <button mat-raised-button color="primary" (click)="save()">Save</button>
        </div>

    </form>
</div>